{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if transactions %}
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>${{ "%.2f"|format(transaction.price) }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transactions found.</p>
    {% endif %}

{% endblock %}
